<h2>By Capital</h2>
<div class="row">
  <div class="col">
    <shared-searchBox
      (onValue)="searchByCapital($event)"
      (onDebounce)="searchByCapital($event)"
      placeholder="Search by capital..."
      [initialValue]="initialValue"
    ></shared-searchBox>
  </div>
</div>

<div class="row">
  <div class="col">
    Results:
    <hr />

    <countries-table [countries]="countries"></countries-table>
    <!-- <ul>
      <li *ngFor="let country of countries" >
        {{country.capital}} - {{country.population}}
      </li>
    </ul> -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  </div>
</div>
